@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");

* {
    text-align: center;
    font-size: 19pt;
    font-family: "Modern Antiqua", serif;
}

body {
    background-color: black;
    width: 99%;
    height: fit-content;
}

#page {
    min-width: 1200px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 62% 23%;
    grid-template-areas: "header header header"
        "nav scene aside"
        "footer footer footer";
    height: fit-content;
}

header {
    background-color: #c5d7d9;
    grid-area: header;
    margin-top: 5px;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#cg {
    font-weight: bold;
    font-size: 21pt;
    margin: 8px;
}

nav {
    background-color: #C5D7D9;
    grid-area: nav;
    margin-right: 1px;
    height: 100%;
    border-bottom-left-radius: 10px;
}

#navScroll {
    overflow-y: scroll;
    height: 500px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#navScroll::-webkit-scrollbar {
    display: none;
}

#scene {
    background-color: #C5D7D9;
    grid-area: scene;
}

#canvas {
    margin-top: 7px;
    width: 730px;
    height: 530px;
    border: 1px solid #00b2e4;
    border-radius: 15px;
}

#canvasModels {
    pointer-events: none;
    height: 537px;
    width: 243px;
    position: absolute;
    display: block;
    margin-top: 1px;
    margin-left: 7px;
}

aside {
    background-color: #C5D7D9;
    margin-left: 1px;
    grid-area: aside;
    border-bottom-right-radius: 10px;
}

#models {
    overflow-y: scroll;
    height: 540px;
    margin-bottom: 8px;
}

footer {
    color: white;
    font-size: 12pt;
    margin-top: 10px;
    grid-area: footer;
}

.titles {
    border-bottom: 1px solid black;
    padding: 2px;
}

#menu {
    height: fit-content;
    grid-row: 1/2;
}

#transf {
    grid-row: 0/1;
    margin-top: 4px;
    margin-bottom: 8px;
}

#list {
    margin-right: 0;
    margin-top: 10px;
}

#save {
    background-color: #C5D7D9;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13.5px;
    margin: 15px 0 0 0;
    transition-duration: 0.4s;
    cursor: pointer;
}

#load {
    background-color: #C5D7D9;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13.5px;
    margin-left: 5px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#save:hover,
#load:hover {
    cursor: pointer;
    background-color: #013440;
    color: white;
}

#save:disabled,
#load:disabled{
    background-color: #C5D7D9;
    color: gray;
    cursor: not-allowed;
}

.ti,
#rx,
#ry,
#rz,
#sx,
#sy,
#sz,
#tx,
#ty,
#tz {
    font-size: 14px;
    margin: 1px;
    padding-top: 5px;
}

input[type='range'] {
    overflow: hidden;
    width: 130px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #b1c4c6;
    max-height: 14px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 14px;
    -webkit-appearance: none;
    color: #2AB0BF;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 14px;
    cursor: ew-resize;
    background: #013440;
    box-shadow: -80px 0 0 80px #2AB0BF;
}

input[type='range']::-moz-range-runnable-track {
    -webkit-appearance: none;
    color: #2AB0BF;
    margin-top: -1px;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    cursor: ew-resize;
    background: #013440;
    box-shadow: -80px 0 0 80px #2AB0BF;
    border-radius: 0;
}

#text {
    margin-top: 0px;
    margin-bottom: 10px;
}

.button-text {
    width: 30px;
    height: 25px;
    border: 1px solid black;
    background-image: url('data/KayKit_HalloweenBits_1.0_FREE/Assets/obj/halloweenbits_texture.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.button-white {
    width: 30px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

.button-text:hover,
.button-white:hover,
.button-blue:hover {
    border: 2px solid black;
    cursor: pointer;
}

#toonShaderB,
#addLightB {
    background-color: #C5D7D9;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13.5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#toonShaderB:hover,
#addLightB:hover,
#conf:hover {
    background-color: #013440;
    color: white;
}

#addLightB:disabled {
    background-color: #C5D7D9;
    color: gray;
    cursor: not-allowed;
}

#lightButtons{
    margin-top: 10px;
}

#LTS{
    margin-bottom: 7px;
}
